[submodule "instagram"]
	path = instagram
	url = https://github.com/instagrambot/instabot.git
[submodule "instabot"]
        path = instabot
        url = https://github.com/instagrambot/instabot.git
